.logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: #000;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	padding-left: 40px;
}

.logo:hover {
	color: black;
}

#navbar-top {
	margin-bottom: 0;
}