#container {
	margin-top: 50px;
}

#content {
	padding: 0 30px; 
}

@media(max-width:767px){
  #container {
    margin-top: 0px;
  }
}

@media(min-width:1200px){
  #content {
		padding: 0 50px; 
	}
}
