#login-box { 
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -200px;
  width:400px;
  height:400px;
}

#login-box > #logo-label { 
  color: #fff;
  text-shadow: 0 0 10px rgba(0,0,0,0.3);
  letter-spacing:1px;
  text-align:center;
  margin-bottom: 20px;
}

#login-box > #signup-link { 
  color: #fff;
  text-shadow: 0 0 10px rgba(0,0,0,0.3);
  letter-spacing:1px;
  text-align:center;
  margin-top: 20px;
}

#username, #password {
  color: #fff;
  font-weight: 900;
}
