{% extends "home/container.html" %}

{% load has_group %}

{% block navbar-side-tabs %}
<ul class="nav navbar-nav">
    <li>
        <a href="{% url 'booking:booking-index' %}">Home - Booking</a>
    </li>
    <li>
        <a href="{% url 'booking:booking-submissions' %}">My Submissions</a>
    </li>
    {% if request.user|has_group:"Booking_MPHall_Change_State" %}
    <li>
        <a href="{% url 'booking:booking-requests-pending' %}">Pending Requests</a>
    </li>
    {% endif %}
</ul>
{% endblock %}