{% extends "booking/app_base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12 page-header">
        <h2>Booking Forms</h2>
        <div class="text-muted">
            The various booking forms that can be submitted are as follows:-
        </div>
    </div>

    <div class="col-md-12">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="medical">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-medical" aria-expanded="false" aria-controls="collapse-medical">
                  Request for reservation of MP Hall
                </a>
              </h4>
            </div>
            <div id="collapse-medical" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="medical">
              <div class="panel-body">
                  <table class="table table-bordered">
                      <tr>
                          <td><b>Brief</b></td>
                          <td>Form for booking MP Hall</td>
                      </tr>
                      <tr>
                          <td><b>Applicable for</b></td>
                          <td>Employees</td>
                      </tr>
                      <tr>
                          <td><b>Documents Required</b></td>
                          <td>None</td>
                      </tr>
                  </table>
                  <div class="row">
                      <div class="col-md-12">
                          <a href="{% url 'booking:mp-hall-new' %}" type="button" class="btn btn-primary">Apply</a>
                      </div>
                  </div>
              </div>
            </div>
          </div>



        </div>
    </div>
</div>
{% endblock %}