{% extends "home/base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-12 page-header">
        <h2>Users</h2>
        <a href="{% url 'home:user-new' %}" class="btn btn-success btn-sm pull-right">Create New User</a>
        <div class="text-muted">
            List of registered users.
        </div>
    </div>

    <div class="col-md-12">
        <table class="table table-hover table-bordered table-responsive">
            <thead>
                <tr class="row">
                    <th>Username</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Groups</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr class="row">
                    <td>
                        <a href="#">{{ user.username }}</a>
                    </td>
                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{user.groups.all|join:", "|truncatewords:"3" }}</td>
                    <td class="text-center">
                        <div class="btn-group" role="group" aria-label="...">
                            <!-- <a href="#" class="btn btn-sm btn-primary">View</a> TODO -->
                            <a href="{% url 'home:user-edit' user.id %}" class="btn btn-sm btn-success">Edit</a>
                            <a href="{% url 'home:user-delete' user.id %}"  class="btn btn-sm btn-danger" data-toggle="confirmation" data-singleton="true" data-placement="left" data-popout="true">Delete</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
