{% extends "login/base.html" %}

{% block content %}

<div class="row">
  <div class="row page-header">
    <div class="col-sm-10 col-md-6">
      <div class="thumbnail">
        <div class="caption">
          <h4><b>Group Name : </b>{{ group.name }}</h4>
          <p><b>Description : </b>Head of the departments</p>
          <p>
            <a href="{% url 'login:edit-group-name' group.id %}" class="btn btn-sm btn-primary">Edit Name</a>
            <a href="{% url 'login:delete-group' group.id %}"  class="btn btn-sm btn-danger">Delete Group</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <form action="{% url 'login:toggle-user-group' group.id %}" method="post">{% csrf_token %}
        <div class="input-group col-md-6 pull-left">
          <span class="input-group-addon" id="sizing-addon2">@</span>
          <input type="text" class="form-control" name="username" placeholder="Username" aria-describedby="sizing-addon2">
        </div>
          <input type="submit" class="btn btn-primary" value="Add User"/> 
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>List of all users in the group</h4>
    </div>
  </div>
  <div class="row">
  <div class="col-md-6 col-xs-12">
  <table class="table table-hover table-bordered table-responsive">
  <thead>
    <tr class="row">
      <th>Names</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  {% for user in users %}
    <tr class="row">
      <td><a href="#">{{ user.username }}</a></td>
      <td>{{ user.email }}</td>
      <td class="text-center">
        <div class="btn-group" role="group">
          <!-- <a href="#" class="btn btn-sm btn-primary">View</a> TODO -->
          <form action="{% url 'login:toggle-user-group' group.id %}" method="post">{% csrf_token %}
            <input type="hidden" name="username" value="{{ user.username }}">
            <input type="submit" name="submit" value="Remove user" class="btn btn-sm btn-danger">
          </form>
        </div>
      </td>
    </tr>
  {% endfor %}
  </tbody>
  </table>
  </div>
  </div>
</div>

{% endblock %}