{% extends "home/base.html" %}

{% block content %}
{% load form_extras %}
<div class="row">
    <div class="col-md-12 page-header">
        <h2>Forms</h2>
        <a href="{% url 'forms:workflow-new' %}" class="btn btn-success btn-sm pull-right">Create New Form</a>
        <div class="text-muted">
            The available forms that can be submitted
        </div>

    </div>

    <div class="col-md-12">
    <table class="table table-hover table-bordered table-responsive">
    <thead>
        <tr class="row">
            <th class="col-md-2">Name</th>
            <th class="col-md-4">Description</th>
            <th class="col-md-3">Allowed Groups</th>
            <th class="col-md-3">Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for workflow in workflows %}
        <tr class="row">
            <td><a href="{% url 'forms:workflow-entry-new' workflow.id %}">{{ workflow.name }}</a></td>
            <td>{{workflow.description }}</td>
            <td>{{ workflow.allowed_groups.all|values_list:"name"|join:", "|truncatewords:3 }}</td>
            <td>
                <div class="btn-group" role="group" aria-label="...">
                    <a href="{% url 'forms:workflow-show' workflow.id %}" class="btn btn-sm btn-primary">Details</a>
                    <a href="{% url 'forms:workflow-edit' workflow.id %}" class="btn btn-sm btn-success">Edit</a>
                    <a href="{% url 'forms:workflow-delete' workflow.id %}"  class="btn btn-sm btn-danger" data-toggle="confirmation" data-singleton="true" data-placement="left" data-popout="true">Delete</a>
                    <a href="{% url 'forms:workflow-entry-index' workflow.id %}" class="btn btn-sm btn-warning">Responses</a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
</div>
{% endblock %}
