{% extends "user_management/app_base.html" %}

{% block content %}
{% load bootstrap_pagination %}

<div class="row">
    <div class="col-md-12 page-header">
        <h2>Groups</h2>
        <a href="{% url 'user-management:group-new' %}" class="btn btn-success btn-sm pull-right">Create New Group</a>
        <div class="text-muted">
            List of registered groups.
        </div>
    </div>

    <div class="col-md-12">
        <table class="table table-hover table-bordered table-responsive">
            <thead>
                <tr class="row">
                    <th>Group Name</th>
                    <th># of Members</th>
                    <th>Members</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for group in groups %}
                <tr class="row">
                    <td><a href="#">{{ group.name }}</a></td>
                    <td>{{ group.user_set.all.count }}</td>
                    <td>{{ group.user_set.all|join:", "|truncatewords:"4" }}</td>
                    <td class="text-center">
                        <div class="btn-group" role="group" aria-label="...">
                            <!-- <a href="#" class="btn btn-sm btn-primary">View</a> TODO -->
                            <a href="{% url 'user-management:group-show' group.id %}" class="btn btn-sm btn-primary">Show Group</a>
                            <a href="{% url 'user-management:group-delete' group.id %}" class="btn btn-sm btn-danger" data-toggle="confirmation" data-singleton="true" data-placement="left" data-popout="true">Delete</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="text-center">
            {% bootstrap_paginate groups %}
        </div>
    </div>
</div>

{% endblock %}
