{% extends "home/container.html" %}

{% block navbar-side-tabs %}
<ul class="nav navbar-nav">
    <li class="">
        <a href="{% url 'user-management:user-index' %}">Home</a>
    </li>
    <li class="">
        <a href="{% url 'user-management:user-index' %}">Users</a>
    </li>
    <li class="">
        <a href="{% url 'user-management:group-index' %}">Groups</a>
    </li>
</ul>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12 page-header">
        <h2>{{ group.name }}</h2>
        <div class="btn-group pull-right" role="group" aria-label="...">
            <a href="{% url 'user-management:group-edit' group.id %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'user-management:group-delete' group.id %}" class="btn btn-danger" data-toggle="confirmation" data-singleton="true" data-placement="left" data-popout="true">Delete</a>
        </div>
        <div class="text-muted">
            <!-- {{ group.description }} -->
            Placeholder for group description
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 pull-left">
        <form action="{% url 'user-management:group-user-toggle' group.id %}" method="post">{% csrf_token %}
            <div class="input-group col-md-6 pull-left">
                <span class="input-group-addon" id="sizing-addon2">@</span>
                <input type="text" class="form-control" name="username" placeholder="Username" aria-describedby="sizing-addon2">
                <span class="input-group-btn">
                    <input type="submit" class="btn btn-primary" value="Add"/>
                </span>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="page-header col-md-12">
        <h3>List of all users in the group ({{ users.count }})</h3>
    </div>

    <div class="col-md-12">
        <table class="table table-hover table-bordered table-responsive">
            <thead>
                <tr class="row">
                    <th class="col-md-3">Username</th>
                    <th class="col-md-4">Name</th>
                    <th class="col-md-4">Email</th>
                    <th class="col-md-1">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr class="row">
                    <td><a href="#">{{ user.username }}</a></td>
                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td class="text-center">
                        <div class="btn-group" role="group">
                            <!-- <a href="#" class="btn btn-sm btn-primary">View</a> TODO -->
                            <form action="{% url 'user-management:group-user-toggle' group.id %}" method="post">{% csrf_token %}
                                <input type="hidden" name="username" value="{{ user.username }}">
                                <input type="submit" name="submit" value="Remove" class="btn btn-sm btn-danger" data-toggle="confirmation" data-singleton="true" data-placement="left" data-popout="true">
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
