{% extends "home/container.html" %}
{% load has_group %}
{% block navbar-side-tabs %}
<ul class="nav navbar-nav">
    <li>
        <a href="{% url 'purchase:purchase-index' %}">Home - Purchase</a>
    </li>
    <li>
        <a href="{% url 'purchase:purchase-submissions' %}">My Submissions</a>
    </li>
    {% with request.user.employee_set.all|first as current_employee %}
        {% if request.user|has_group:"JrAO_AccountsDepartment" or request.user|has_group:"DR_AccountsDepartment" or current_employee.department.hod_id == current_employee.id%}
            <li>
                <a href="{% url 'purchase:purchase-requests-pending' %}">Pending Requests</a>
            </li>
            <li>
                <a href="{% url 'purchase:purchase-requests-previous' %}">Previous Requests</a>
            </li>
        {% endif %}
    {% endwith %}
</ul>
{% endblock %}