{% extends "purchase/app_base.html" %}

{% load bootstrap_pagination %}

{% block content %}
<div class="row">
    <div class="col-md-12 page-header">
        <h2>Previous Approvals</h2>
        <div class="text-muted">
            All Purchase Indent Requests you have previously approved
        </div>
    </div>

    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Submitted by</th>
                    <th>Date Submitted</th>
                    <th>Current State</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for request in previous_requests %}
                <tr>
                    <td>{{ request.indenter.user.first_name }} {{ request.indenter.user.last_name }}</td>
                    <td>{{ request.created_at }}</td>
                    <td>
                        {{ request.state }}
                        {% if request.state == 'Rejected' %}
                            By
                            {% if request.transitionhistory_set.last.from_state == 'Submitted' %}
                                Head of Department
                            {% elif request.transitionhistory_set.last.from_state == 'Approved by Head of Department' %}
                                Junior Accounts Officer
                            {% else %}
                                Deputy Registrar
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-primary btn-xs" target="_blank"
                        href="{% url 'purchase:purchase-indent-show' request.id %}">View</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-center">
            {% bootstrap_paginate previous_requests %}
        </div>
    </div>
</div>
{% endblock %}