{% extends "purchase/app_base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12 page-header">
        <h2>PURCHASE INDENT</h2>
        <span>
            Sl. No: {{ purchase_indent_request.id }}
        </span>
        <label class="pull-right">
            {{ purchase_indent_request.created_at }}
        </label>
    </div>

    <div class="col-md-12">
        <table class="table table-responsive">
            <tbody>
            <tr class="row">
                <td>
                    <label> Name of the Intender: </label>
                </td>
                <td>
                    <label> {{ purchase_indent_request.indenter.user }} </label>
                </td>
            </tr>
            <tr class="row">
                <td>
                    <label> Designation: </label>
                </td>
                <td>
                    <label> {{ purchase_indent_request.indenter.designation }} </label>
                </td>
            </tr>
            <tr class="row">
                <td>
                    <label> Department: </label>
                </td>
                <td>
                    <label> {{ purchase_indent_request.indenter.department.name }} </label>
                </td>
            </tr>
            <tr class="row">
                <td>
                    <label> Budget Head: </label>
                </td>
                <td>
                    <label> {{ purchase_indent_request.budget_head }} </label>
                </td>
            </tr>
            <tr class="row">
                <td>
                    <label> Project Name: </label>
                </td>
                <td>
                    <label> {{ purchase_indent_request.project_name }} </label>
                </td>
            </tr>
            <tr class="row">
                <td>
                    <label> No other make or model is acceptable for the following reasons: </label>
                </td>
                <td>
                    <label> {{ purchase_indent_request.make_or_model_reason }} </label>
                </td>
            </tr>
            <tr class="row">
                <td>
                    <label> Directors's Approval: </label>
                </td>
                <td>
                    {% if purchase_indent_request.directors_approval %}
                    <img src="{{ purchase_indent_request.directors_approval.url }}"/>
                    {% else %}
                    None
                    {% endif %}
                </td>
            </tr>
            <tr class="row">
                <td>
                    <label> Project Approval: </label>
                </td>
                <td>
                    {% if purchase_indent_request.project_approval %}
                    <img src="{{ purchase_indent_request.project_approval.url }}"/>
                    {% else %}
                    None
                    {% endif %}
                </td>
            </tr>
            <tr class="row">
                <td>
                    <label> Budgetary Approval: </label>
                </td>
                <td>
                    {% if purchase_indent_request.budgetary_approval %}
                    <img src="{{ purchase_indent_request.budgetary_approval.url }}"/>
                    {% else %}
                    None
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
        <div class="btn-group" role="group" aria-label="...">
            <a href="{% url 'purchase:purchase-indent-hod-approve' purchase_indent_request.id %}" class="btn btn-success">Approve</a>
            <a href="{% url 'purchase:purchase-indent-reject' purchase_indent_request.id %}" class="btn btn-danger">Reject</a>
        </div>
    </div>
</div>
{% endblock %}