{% extends "forms/app_base.html" %}

{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-12 page-header">
        <h2>{{ workflow.name }}</h2>
        <div class="text-muted">
            {{ workflow.description }}
        </div>
    </div>

    <div class="col-md-12">
        <form action="{% url 'forms:workflow-entry-new' workflow.id %}" method="post">
            {% csrf_token %}
            <table class="table table-responsive">
                <tbody>
                {% for form_element in form_elements %}
                    <tr class="row">
                        <td>
                            <label>
                            {{ form_element.caption }}
                            {% if form_element.hint %}
                                <div class="text-muted">
                                    ({{ form_element.hint }})
                                </div>
                            {% endif %}
                            </label>
                        </td>
                        <td>
                        {% if form_element.element_type == 'text_input' %}
                            <input type="text" name='{{ form_element.caption }}' class="form-control"/>
                        {% elif form_element.element_type == 'number_input' %}
                                <input type="number" name='{{ form_element.caption }}' class="form-control">
                        {% elif form_element.element_type == 'text_area' %}
                                <textarea name='{{ form_element.caption }}' class="form-control"></textarea>
                        {% elif form_element.element_type == 'date_input' %}
                                  <div id="date-picker" class="input-append">
                                    <input data-format="dd/MM/yyyy" type="text"></input>
                                    <span class="add-on">
                                      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                                      </i>
                                    </span>
                                  </div>
                        {% elif form_element.element_type == 'time_input' %}
                                  <div id="time-picker" class="input-append">
                                    <input data-format="HH:mm:ss PP" type="text"></input>
                                    <span class="add-on">
                                      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                                      </i>
                                    </span>
                                  </div>
                        {% elif form_element.element_type == 'date_time_input' %}
                                  <div id="datetime-picker" class="input-append">
                                    <input data-format="dd/MM/yyyy HH:mm:ss PP" type="text"></input>
                                    <span class="add-on">
                                      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                                      </i>
                                    </span>
                                  </div>
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <input type="submit" value="Submit" class="btn btn-primary" />
        </form>
    </div>
</div>
{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'home/css/bootstrap-datetimepicker.min.css' %}">
{% endblock %}
{% block js %}
<script type="text/javascript" src="{% static 'home/js/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'home/js/bootstrap-datetimepicker.min.js' %}">
  $(function() {
    $('#datetime-picker').datetimepicker({
      language: 'en',
      pick12HourFormat: true
    });
    $('#time-picker').datetimepicker({
      pickDate: false
    });
    $('#date-picker').datetimepicker({
      pickTime: false
    });
  });
</script>
{% endblock %}
