{% extends "forms/app_base.html" %}

{% block content %}
{% load static %}
{% load bootstrap_pagination %}

<div class="row">
    <div class="col-md-12 page-header">
        <h2>Forms Pending Approval ({{ responses_count }})</h2>
        <div class="text-muted">
            List of forms that can be approved by you
        </div>
    </div>

    {% for response in responses %}
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>{{ response.workflow.name }}</b>
                <b class="pull-right">
                    Submitted by: {{ response.creator.first_name }} {{ response.creator.last_name }} |
                    State: {{ response.current_state.name }}
                </b>
            </div>
            <div class="panel-body">
                    <form class="row">
                    {% for element in response.formelemententry_set.all %}
                            <div class="form-group col-md-6">
                                <label>
                                    {{ element.form_element.caption }}
                                    {% if element.form_element.hint %}
                                        <span class="text-muted">({{ element.form_element.hint }})</span>
                                    {% endif %}
                                </label>

                                {% if element.form_element.element_type == 'text_input' %}
                                    <input type="text" name='{{ element.form_element.caption }}' value='{{ element.value }}' class='form-control' disabled/>    
                                {% elif element.form_element.element_type == 'number_input' %}
                                        <input type="number" name='{{ element.form_element.caption }}' value='{{ element.value }}' class='form-control' disabled>
                                {% elif element.form_element.element_type == 'text_area' %}
                                        <textarea name='{{ element.form_element.caption }}' value='{{ element.value }}' class='form-control' disabled></textarea>
                                {% elif element.form_element.element_type == 'date_input' %}
                                    <div class="form-group">
                                    <div class="input-group date form_date col-md-5" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                    <input class="form-control" name='{{ element.form_element.caption }}' size="16" type="text" value='{{ element.value }}' readonly>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                    <input type="hidden" id="dtp_input2" value="" /><br/>
                                    </div>
                                {% elif element.form_element.element_type == 'time_input' %}
                                    <div class="form-group">
                                    <div class="input-group date form_time col-md-5" data-date="" data-date-format="hh:ii" data-link-field="dtp_input3" data-link-format="hh:ii">
                                    <input class="form-control" name='{{ element.form_element.caption }}' size="16" type="text" value='{{ element.value }}' readonly>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                    </div>
                                    <input type="hidden" id="dtp_input3" value="" /><br/>
                                    </div>
                                {% elif element.form_element.element_type == 'date_time_input' %}
                                    <div class="form-group">
                                    <div class="input-group date form_datetime col-md-5" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                                    <input class="form-control" name='{{ element.form_element.caption }}' size="16" type="text" value='{{ element.value }}' readonly>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                    </div>
                                    <input type="hidden" id="dtp_input1" value="" /><br/>
                                    </div>
                                {% endif %}
                            </div>
                    {% endfor %}
                    </form>

                    <div class="dropdown pull-right ">
                        <button class="btn btn-success dropdown-toggle" type="button" id="actions-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Actions
                            <span class="caret"></span>
                        </button>
                        <!-- TODO: Display the drop down only i f the there are transitions possible -->
                        <ul class="dropdown-menu" aria-labelledby="actions-dropdown">
                            {% for transition in response.current_state.transition_set.all %}
                            <li>
                                <form action="{% url 'forms:workflow-entry-change-state' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="workflow_entry_id" value="{{ response.id }}" />
                                    <input type="hidden" name="transition_id" value="{{ transition.id }}" />
                                     <input type="submit" name="submit" value="{{ transition.name }}" class="btn btn-link" />
                                </form>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="text-center">
        {% bootstrap_paginate responses %}
    </div>
</div>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/bootstrap-datetimepicker.min.css' %}">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'home/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript">
        $('.form_datetime').datetimepicker({
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1
        });
        $('.form_date').datetimepicker({
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
        $('.form_time').datetimepicker({
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 1,
            minView: 0,
            maxView: 1,
            forceParse: 0
        });
    </script>
{% endblock %}
