{% extends "forms/app_base.html" %}

{% block content %}
{% load bootstrap_pagination %}

<div class="row">
    <div class="col-md-12 page-header">
        <h2>Forms submitted by you ({{ responses_count }})</h2>
        <div class="text-muted">
            List of forms that you submitted
        </div>
    </div>

    {% for response in responses %}
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>{{ response.workflow.name }}</b>
                <b class="pull-right">
                    State: {{ response.current_state.name }}
                </b>
            </div>
            <div class="panel-body">
                    <form class="row">
                    {% for element in response.formelemententry_set.all %}
                            <div class="form-group col-md-6">
                                <label>
                                    {{ element.form_element.caption }}
                                    {% if element.form_element.hint %}
                                        <span class="text-muted">({{ element.form_element.hint }})</span>
                                    {% endif %}
                                </label>

                                {% if element.form_element.element_type == 'text_input' %}
                                    <input type="text" name='{{ element.form_element.caption }}' value='{{ element.value }}' class='form-control' disabled/>    
                                {% elif element.form_element.element_type == 'number_input' %}
                                        <input type="number" name='{{ element.form_element.caption }}' value='{{ element.value }}' class='form-control' disabled>
                                {% elif element.form_element.element_type == 'text_area' %}
                                        <textarea name='{{ element.form_element.caption }}' value='{{ element.value }}' class='form-control' disabled></textarea>
                                {% endif %}
                            </div>
                    {% endfor %}
                    </form>
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="text-center">
        {% bootstrap_paginate responses %}
    </div>
</div>
{% endblock %}
