{% extends "purchase/app_base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12 page-header">
        <h2>PURCHASE INDENT</h2>
        <span>
            Sl. No: {{ purchase_indent_request.id }}
        </span>
        <span class="pull-right">
            Submitted on {{ purchase_indent_request.created_at }}
        </span>
    </div>

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Basic Details</div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Name of the Intender:</label>
                    <div class="col-sm-9">
                        <input class="form-control" id="id_project_name" name="project_name" type="text" required=""
                        value="{{ purchase_indent_request.indenter.user.first_name }} {{ purchase_indent_request.indenter.user.last_name }}" disabled>
                    </div>
                </div>
                <br><br>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Designation:</label>
                    <div class="col-sm-9">
                        <input class="form-control" id="id_project_name" name="project_name" type="text" required=""
                        value="{{ purchase_indent_request.indenter.designation }}" disabled>
                    </div>
                </div>
                <br><br>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Department:</label>
                    <div class="col-sm-9">
                        <input class="form-control" id="id_project_name" name="project_name" type="text" required=""
                        value="{{ purchase_indent_request.indenter.department }}" disabled>
                    </div>
                </div>
                <br><br>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Budget Head</label>
                    <div class="col-sm-5">
                        <input class="form-control" id="id_project_name" name="project_name" type="text" required=""
                        value="{{ purchase_indent_request.budget_head}}" disabled>
                    </div>
                    <div class="col-sm-5">
                        <input class="form-control" id="id_project_name" name="project_name" type="text" required=""
                        value="{{ purchase_indent_request.category}}" disabled>
                    </div>
                </div>
                <br><br>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Project Name</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="id_project_name" name="project_name" type="text" required=""
                        value="{{ purchase_indent_request.project_name}}" disabled>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Item Specification &amp; Vendor details </div>
            <div class="panel-body">
            <!-- For loop for looping through specified items -->
            {% for item in purchase_indent_request.item_set.all%}
                <div class="panel panel-default item-vender-spec">
                    <div class="panel-heading">Item</div>
                    <div class="panel-body">
                        <div class="row">
                            <label class="col-sm-2">Item Specification</label>
                            <div class="col-md-6 col-sm-10">
                                <textarea class="form-control" cols="40" maxlength="1000" rows="3" disabled>{{item.specification}}</textarea>
                            </div>
                            <label class="col-md-1 col-sm-2 control-label">Type</label>
                            <div class="col-md-3 col-sm-10">
                                <input class="form-control" value="{{item.type}}" disabled>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <label class="col-md-2 col-sm-2 control-label">Quantity</label>
                            <div class="col-md-4 col-sm-10">
                                <input class="form-control" value="{{item.quantity}}" disabled>
                            </div>

                            <label class="col-md-2 col-sm-2 control-label">Estimate Cost (Rs)</label>
                            <div class="col-md-4 col-sm-10">
                                <input class="form-control" type="number" value="{{item.estimated_cost}}" disabled>
                            </div>
                        </div>
                        <br>
                        {% with item.vendor_set.all|first as vendor %}
                        <div class="row">
                            <label class="col-md-2 col-sm-2 control-label">Vendor Name</label>
                            <div class="col-md-4 col-sm-10">
                                <input class="form-control" maxlength="100" value={{vendor.name}} disabled>
                            </div>

                            <label class="col-md-2 col-sm-2 control-label">Vendor Email</label>
                            <div class="col-md-4 col-sm-10">
                                <input class="form-control" maxlength="50" type="email" value={{vendor.email}} disabled>
                            </div>
                        </div>
                        <br>
                        <label class="col-md-2 col-sm-2 control-label">Vendor Address</label>
                        <div class="col-md-10 col-sm-10">
                            <textarea class="form-control" cols="40" maxlength="500" placeholder="Address" rows="2" disabled>{{vendor.address}}</textarea>
                        </div>
                        {% endwith %}
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Certificate for Proprietary Items</div>
            <div class="panel-body">
                Certified that to the best of my knowledge, the items indented are the proprietary item of M/s
                <input id="id_proprietary_owner" name="proprietary_owner" size="30" type="text" value="{{purchase_indent_request.proprietary_owner}}" disabled>
                and is marketed by their only authorized distributors M/s
                <input id="id_proprietary_distributor" name="proprietary_distributor" size="30" type="text" value="{{purchase_indent_request.proprietary_distributor}}" disabled>
                in India. If the above statement will be found incorrect I will be solely responsible for this.
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"> No other make or model is acceptable for the following reasons :</div>
            <div class="panel-body">
                <div class="form-group">
                    
                    <div class="col-sm-12">
                        <textarea class="form-control" cols="40" id="id_make_or_model_reason" name="make_or_model_reason" rows="10" disabled>{{purchase_indent_request.proprietary_owner}}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <form class="form-horizontal" action="{% url 'purchase:purchase-indent-hod-approve' purchase_indent_request.id %}" method="post">
            {% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-heading">Remarks (if any)</div>
                <div class="panel-body">
                    <textarea class="form-control" cols="40" id="id_remark" name="remark" rows="5"></textarea>
                    <small>Note: If approved, the remark will be forwarded to the next approver. If rejected, the remark will be visible to the indenter.</small>
                </div>
            </div>
            <div class="btn-group" role="group" aria-label="...">
                <input type="submit" value="Approve" name="Approve" class="btn btn-success" />
                <input type="submit" value="Reject" name="Reject" class="btn btn-danger" />
            </div>
        </form>
        <br><br><br><br>
    </div>
</div>
{% endblock %}