{% extends "home/container.html" %}

{% block navbar-side-tabs %}
<ul class="nav navbar-nav">
    <li class="">
        <a href="{% url 'home:user-index' %}">Home</a>
    </li>
    <li class="">
        <a href="{% url 'home:user-index' %}">Users</a>
    </li>
    <li class="">
        <a href="{% url 'home:group-index' %}">Groups</a>
    </li>
</ul>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12 page-header">
        <form action="{% url 'home:group-edit' group_id %}" method="post">
            {% csrf_token %}
            {{ change_name_form.as_p }}
            <input type="submit" class="btn btn-primary" value="Save"/> 
        </form>
    </div>
</div>

{% endblock %}
