{% extends "home/container.html" %}

{% block navbar-side-tabs %}
<ul class="nav navbar-nav">
    <li class="">
        <a href="{% url 'home:user-index' %}">Home</a>
    </li>
    <li class="">
        <a href="{% url 'home:user-index' %}">Users</a>
    </li>
    <li class="">
        <a href="{% url 'home:group-index' %}">Groups</a>
    </li>
    <li class="">
        <a href="#">Analytics</a>
    </li>
</ul>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12 page-header">
        <h2>Groups</h2>
        <a href="{% url 'home:group-new' %}" class="btn btn-success btn-sm pull-right">Create New Group</a>
        <div class="text-muted">
            List of registered groups.
        </div>
    </div>

    <div class="col-md-12">
        <table class="table table-hover table-bordered table-responsive">
            <thead>
                <tr class="row">
                    <th>Group Name</th>
                    <th># of Members</th>
                    <th>Members</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for group in groups %}
                <tr class="row">
                    <td><a href="#">{{ group.name }}</a></td>
                    <td>{{ group.user_set.all.count }}</td>
                    <td>{{ group.user_set.all|join:", "|truncatewords:"4" }}</td>
                    <td class="text-center">
                        <div class="btn-group" role="group" aria-label="...">
                            <!-- <a href="#" class="btn btn-sm btn-primary">View</a> TODO -->
                            <a href="{% url 'home:group-show' group.id %}" class="btn btn-sm btn-primary">Show Group</a>
                            <a href="{% url 'home:group-delete' group.id %}" class="btn btn-sm btn-danger" data-toggle="confirmation" data-singleton="true" data-placement="left" data-popout="true">Delete</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
