{% extends "advance_allowance/app_base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12 page-header">
        <h2>Advance Payment Forms</h2>
        <div class="text-muted">
            The Advance Payment and concession forms that can be submitted
        </div>
    </div>

    <div class="col-md-12">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="medical">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-medical" aria-expanded="false" aria-controls="collapse-medical">
                  Tour Program and TA Advance Form
                </a>
              </h4>
            </div>
            <div id="collapse-medical" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="medical">
              <div class="panel-body">
                  <table class="table table-bordered">
                      <tr>
                          <td><b>Brief</b></td>
                          <td>This form is used as an application for the Tour Program and TA Advance Form</td>
                      </tr>
                      <tr>
                          <td><b>Applicable for</b></td>
                          <td>Employee </td>
                      </tr>
                      <tr>
                          <td><b>Documents Required</b></td>
                          <td>Invitation or Recommendation letter, Registration letter, Ticket (if fare reimbursement is applied)</td>
                      </tr>
                  </table>
                  <div class="row">
                      <div class="col-md-12">
                          <button type="button" class="btn btn-primary">Help</button>
                          <button type="button" class="btn btn-primary">Apply</button>
                      </div>
                  </div>
              </div>
            </div>
          </div>
            <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="children-education">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-children-education" aria-expanded="false" aria-controls="collapse-children-education">
                  Temporary Advance (Other than TA/LTC Advance)
                </a>
              </h4>
            </div>
            <div id="collapse-children-education" class="panel-collapse collapse" role="tabpanel" aria-labelledby="children-education">
              <div class="panel-body">
                <table class="table table-bordered">
                      <tr>
                          <td><b>Brief</b></td>
                          <td>--brief of temporary advance--</td>
                      </tr>
                      <tr>
                          <td><b>Applicable for</b></td>
                          <td>Employee</td>
                      </tr>
                      <tr>
                          <td><b>Documents Required</b></td>
                          <td>---DOCS---</td>
                      </tr>
                  </table>
                  <div class="row">
                      <div class="col-md-12">
                          <button type="button" class="btn btn-primary">Help</button>
                          <button type="button" class="btn btn-primary">Apply</button>
                      </div>
                  </div>
              </div>
            </div>
          </div>
            <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="children-education">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-children-education" aria-expanded="false" aria-controls="collapse-children-education">
                  Leave Travel Concession Application
                </a>
              </h4>
            </div>
            <div id="collapse-children-education" class="panel-collapse collapse" role="tabpanel" aria-labelledby="children-education">
              <div class="panel-body">
                <table class="table table-bordered">
                      <tr>
                          <td><b>Brief</b></td>
                          <td>--brief of ltc application--</td>
                      </tr>
                      <tr>
                          <td><b>Applicable for</b></td>
                          <td>Employee</td>
                      </tr>
                      <tr>
                          <td><b>Documents Required</b></td>
                          <td>---DOCS---</td>
                      </tr>
                  </table>
                  <div class="row">
                      <div class="col-md-12">
                          <button type="button" class="btn btn-primary">Help</button>
                          <button type="button" class="btn btn-primary">Apply</button>
                      </div>
                  </div>
              </div>
            </div>
          </div>
            <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="telephone">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-telephone" aria-expanded="false" aria-controls="collapse-telephone">
                  Change in Leave Travel Concession
                </a>
              </h4>
            </div>
            <div id="collapse-telephone" class="panel-collapse collapse" role="tabpanel" aria-labelledby="telephone">
              <div class="panel-body">
                <table class="table table-bordered">
                      <tr>
                          <td><b>Brief</b></td>
                          <td>Changes in dates of leave travel concession</td>
                      </tr>
                      <tr>
                          <td><b>Applicable for</b></td>
                          <td>Employee</td>
                      </tr>
                      <tr>
                          <td><b>Documents Required</b></td>
                          <td>----DOCS----</td>
                      </tr>
                  </table>
                  <div class="row">
                      <div class="col-md-12">
                          <button type="button" class="btn btn-primary">Help</button>
                          <button type="button" class="btn btn-primary">Apply</button>
                      </div>
                  </div>
              </div>
            </div>
          </div>
            <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="travel">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-travel" aria-expanded="false" aria-controls="collapse-travel">
                  Combined travel and leave sanction form
                </a>
              </h4>
            </div>
            <div id="collapse-travel" class="panel-collapse collapse" role="tabpanel" aria-labelledby="travel">
              <div class="panel-body">
                <table class="table table-bordered">
                      <tr>
                          <td><b>Brief</b></td>
                          <td>cpda claim</td>
                      </tr>
                      <tr>
                          <td><b>Applicable for</b></td>
                          <td>Employee</td>
                      </tr>
                      <tr>
                          <td><b>Documents Required</b></td>
                          <td>----DOCS-----</td>
                      </tr>
                  </table>
                  <div class="row">
                      <div class="col-md-12">
                          <button type="button" class="btn btn-primary">Help</button>
                          <button type="button" class="btn btn-primary">Apply</button>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}