{% extends "advance_allowance/app_base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12 page-header">
        <h2>Pending Approvals</h2>
        <div class="text-muted">
            All advance allowance requests for approval
        </div>
    </div>

    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Type</th>
                    <th>Date Submitted</th>
                    <th>Date Approved</th>
                    <th>Submitted by</th>
                    <th>Current State</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Tour Program and TA Advance</td>
                    <td>12th May 2017 04:20 PM</td>
                    <td>11th May 2017 04:20 PM</td>
                    <td>Dr. Johnny Sins</td>
                    <td>Submitted, yet to be verified</td>
                    <td><a class="btn btn-primary btn-xs" target="_blank" href="http://127.0.0.1:8000/reimbursement" role="button">View Full details</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Temporary Advance Form</td>
                    <td>5th April 2017 02:35 PM</td>
                    <td>4th April 2017 04:35 PM</td>
                    <td>Dr. Shankar Bahubali</td>
                    <td>Approved, Bank transfer remaining</td>
                    <td><a class="btn btn-primary btn-xs" target="_blank" href="http://127.0.0.1:8000/reimbursement" role="button">View Full details</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>CPDA Claim</td>
                    <td>2nd December 2016 05:30 AM</td>
                    <td>13th April 2017 02:00 PM</td>
                    <td>Dr. Utkarsh Chauhan</td>
                    <td class="text-success"><b>Reimbursed</b></td>
                    <td><a class="btn btn-primary btn-xs" target="_blank" href="http://127.0.0.1:8000/reimbursement" role="button">View Full details</a></td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
{% endblock %}