{% extends "home/container.html" %}

{% load has_group %}

{% block navbar-side-tabs %}
<ul class="nav navbar-nav">
    <li>
        <a href="{% url 'reimbursement:reimbursement-index' %}">Home - Reimbursement</a>
    </li>
    <li>
        <a href="{% url 'reimbursement:reimbursement-submissions' %}">My Submissions</a>
    </li>
    {% if request.user|has_group:"Reimbursement_Medical_Change_State" %}
    <li>
        <a href="{% url 'reimbursement:reimbursement-requests-pending' %}">Pending Requests</a>
    </li>
    <li>
        <a href="{% url 'reimbursement:reimbursement-requests-previous' %}">Previous Requests</a>
    </li>
    {% endif %}
</ul>
{% endblock %}
