{% extends "reimbursement/app_base.html" %}

{% load bootstrap_pagination %}

{% block content %}
<div class="row">
    <div class="col-md-12 page-header">
        <h2>Previously Approved</h2>
        <div class="text-muted">
            All reimbursement requests approved previously
        </div>
    </div>

    <div class="col-md-12">
        {% if medicals %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Type</th>
                    <th>Date Submitted</th>
                    <th>Date Approved</th>
                    <th>Submitted by</th>
                    <th>Current State</th>
                </tr>
            </thead>
            <tbody>
            {% for medical in medicals %}
                <tr>
                    <td>{{ medical.id }}</td>
                    <td>Medical Reimbursement</td>
                    <td>{{ medical.created_at }}</td>
                    <td>
                        {% with medical.transition_history_medical.all|first as transition_history_medical %}
                            {{ transition_history_medical.created_at }}
                        {% endwith %}
                    </td>
                    <td>{{ medical.general_detail.employee.user.first_name }} {{ medical.general_detail.employee.user.last_name }}</td>
                    {% if medical.state == "Reimbursed" %}
                        <td class="text-success"><b>{{ medical.state }}</b></td>
                    {% elif medical.state|slice:":8" == "Rejected" %}
                        <td class="text-danger"><b>{{ medical.state }}</b></td>
                    {% else %}
                        <td>{{ medical.state }}</td>
                    {% endif %}
                    <td><a class="btn btn-primary btn-xs" target="_blank" href="{% url 'reimbursement:medical-show' medical.id %}" role="button">View Full details</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-center">
            {% bootstrap_paginate medicals %}
        </div>
        {% else %}
            <p>You haven't approved any requests yet.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
