{% extends "reimbursement/app_base.html" %}

{% load bootstrap_pagination %}

{% block content %}
<div class="row">
    <div class="col-md-12 page-header">
        <h2>Submissions</h2>
        <div class="text-muted">
            Track all submitted reimbursements - current status for reimbursement in-progress, previous approved/rejected submissions
        </div>
    </div>

    <div class="col-md-12 table-responsive">
        {% if medicals %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Type</th>
                    <th>Date Submitted</th>
                    <th>Current Status</th>
                </tr>
            </thead>
            <tbody>
            {% for medical in medicals %}
                <tr>
                    <td>{{ medical.id }}</td>
                    <td>Medical Reimbursement</td>
                    <td>{{ medical.modified_at }}</td>
                    {% if medical.state == "Reimbursed" %}
                        <td class="text-success"><b>{{ medical.state }}</b></td>
                    {% elif medical.state == "Rejected" %}
                        <td class="text-danger"><b>{{ medical.state }}</b></td>
                    {% else %}
                        <td>{{ medical.state }}</td>
                    {% endif %}
                    <td><a class="btn btn-primary btn-xs" target="_blank" href="{% url 'reimbursement:medical-show' medical.id %}" role="button">View Full details</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-center">
            {% bootstrap_paginate medicals %}
        </div>
        {% else %}
            <p>You have no submissions yet.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
